#{extends 'main.html' /}
#{set title:'唠嗑' /}
#{set "moreScripts"}
<script src="@{'/public/audiojs/audio.min.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}
<body>
	<div class="container">
	<form name="askform">
		<input type="text" name="ask" id="ask"/><br/>
		<input type="button" value="提交" onclick="send()"/>
	</form>
	<audio src="http://translate.google.cn/translate_tts?ie=UTF-8&q=%E4%BD%A0%E5%A5%BD&tl=zh-CN&total=2&idx=1&textlen=34&client=t"  />
	</div>
</body>
<script type="text/javascript">
audiojs.events.ready(function() {
    var as = audiojs.createAll();
});

function send(){
	var ask = $("#ask").val();
	var data = {"send":ask};	
	$.get("@{Application.talk()}",data, function(response){
		
	});
}
</script>



